body {
    background-image: url(/bg.jpeg);
    /* Встановити шлях до зображення */
    background-size: cover;
    /* Розмір фону: зображення розтягнесть на весь екран */
    background-position: center center;
    /* Позиція фону в центрі екрану */
    background-repeat: no-repeat;
    /* Запретити повторення фонового зображення */
}
.slider {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрування всіх елементів по горизонталі */
    width: 100%;
}

.slide {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Центрування тексту по горизонталі */
}

img {
    max-width: 330px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid #0972dc;
    /* Додати рамку */
    box-shadow: 5px 5px 10px rgb(214, 227, 31);
    /* Додати тінь */
    background-color: #ffffff;
    /* Задати фон */
    padding: 10px;
    /* Додати відступ від рамки до фотографії */
}

#prevBtn,
#nextBtn {
    margin-top: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: #009688;
    /* Колір фону при наведенні */
    color: #fff;
    /* Колір тексту при наведенні */
}
h2 {
    text-align: center;
}
